@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

html, body, h1, h2, h3, h4, h5, h6, p, div, span{
    margin:0;
    padding:0;
    font-family:'Open Sans';
    box-sizing:border-box;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
}


section{
    width:100vw;
    height:100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always; 
    display:grid;
    place-items: center;
}

section:first-child{
    background-color: black;
}

section h1{
    font-weight:300;
    font-size:6rem;
    color:#eee;
}

section:nth-child(2){
    background-color: #0a975d;
}

section:last-child{
    background-color: steelblue;
}

.circle{
    margin-top:10%;
    fill: rgba(240,240,240, .1);
    animation: bounce 2s infinite ease backwards;
    animation-delay: 2s;
}

@keyframes bounce{
    0%{
        transform: translateY(0) scale(.6);
        opacity:0;
    }
    40%{
        opacity:.6;
    }
    100%{
        transform: translateY(-400px) scale(.7);
        opacity:0;
    }
  }
  